<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar type="indeterminate" *ngIf="isLoggingIn"></ion-progress-bar>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-list lines="none" class="ion-margin-vertical ion-padding ion-text-center">
      <ion-item>
        <ion-label position="floating">E-mail:</ion-label>
        <ion-input type="text" placeholder="type your e-mail" clearInput formControlName="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password:</ion-label>
        <ion-input type="{{ passwordVisible ? 'text' : 'password' }}" placeholder="type your password" formControlName="password" required>
        </ion-input>
        <ion-icon class="suffix-icon" name="{{ passwordVisible ? 'eye-off' : 'eye' }}" slot="end"
          (click)="togglePasswordVisibility()"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label *ngIf="!isLoggingIn">
          <ion-button expand="block" size="large" type="submit" class="ion-margin-vertical" [disabled]="loginForm.invalid">Enter</ion-button>
        </ion-label>
        <ion-label *ngIf="isLoggingIn" class="ion-margin-vertical ion-text-center">
          <ion-spinner></ion-spinner>
          <p>
            <ion-text>Logging in...</ion-text>
          </p>
          <ion-button expand="block" size="large" class="ion-margin-vertical" (click)="cancelLogin()"
            routerLink="/home" routerDirection="back">Cancel</ion-button>
        </ion-label>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
